{% extends 'nav.html' %}
{% block addcss %}
<style>
    tr{
        margin-right: 2%;
    }
</style>
{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Fileid</th>
            <th>File_name</th>
            <th>Created_at</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td><a href="{{url_for('view_file',fid=i[0])}}">view</a></td>
            <td><a href="{{url_for('download_file',fid=i[0])}}">download</a></td>
            <td><a href="{{url_for('delete_file',fid=i[0])}}">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}