<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
<body>
    <form action="" method="post">
        <h2>LoginIn</h2>
        <input type="email" name="email" placeholder="Enter mail"><br>
        <input type="password" name="password" placeholder="Enter Your Password"><br>
        
        <button>Submit</button>
    </form>
    <button class="btn2"><a href="{{url_for('forgotpassword')}}">Forgot password</a></button>
</body>
</html>