<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Welcome To Mini Project</h1>
        <h3>About us</h3>
        <p>welcome to my project I am developing the student prject</p>
        <a href="{{url_for('login')}}"><button>Login</button></a>
        <a href="{{url_for('signin')}}"><button>Signin</button></a>
    </center>
</body>
</html>